/captures
.externalNativeBuild

*.apk
*.ap_
*.dex
*.class

bin/
gen/

.classpath
.project
.settings
bin
gen
_layouts
proguard.cfg

.DS_Store
.cxx

.gradle
build/

local.properties

proguard/

*.iml
*.ipr
*.iws
out
.idea

target
release.properties
pom.xml.*

*~
*.swp
